{% load static %}
<html>
<head>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
{% load tags %}
<marquee><p>Hello, Itis</p></marquee>
{% for post in posts %}
    <p><b>@{{ post.user.username}}</b></p>
        <p>{{ post.text|hashtag|safe}}</p>
    <i>{{ post.date }}</i>
        <p>{{ post.src.text }}</p>
    <form method="post" action="{% url "make-repost" post.id %}">
        {% csrf_token %}
        <input type="submit" value="Репостнуть">
    </form>
    <a href="{% url "edit-repost" post.id %}">Редактировать</a>
{% endfor %}
</body>
</html>