<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form id="add" method="POST" action="{% url 'add_new_artist' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="save">
</form>
</body>
</html>