{% load staticfiles %}

    <!DOCTYPE html>
    <html lang="en">
    <head>
        {% block header %}
        <meta charset="UTF-8">
        <title>Title</title>
            <link rel="stylesheet" href="{% static 'css/style.css' %}">

        {% endblock %}
    </head>


<body>
{% block body %}
    <p>body</p>
{% endblock %}
</body>
{% block footer %}
    <p>footer</p>
{% endblock %}
</html>