<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<ul>
{% for elem in history %}
    <p>{{ elem.audio }} - {{ elem.date }}</p>
{% endfor %}
</ul>
</body>
</html>