<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="{% url 'add_new_artist' %}">Add new artist</a>
<ul>
{% for artist in artists %}
    <li><a href="#">{{ artist.name }}</a></li>
{% endfor %}
</ul>
</body>
</html>