{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{% static  'css/move-up.css' %}">
</head>
<body>
<div>
    <a href="{% url 'add_new_audio' %}">Add new audio</a>
    <ul id="list">
        {% for track in tracks %}
            <li><a href="#">{{ track.title }}</a></li>
            <form method="post" action= {% url "savetrack" %}>
                {% csrf_token %}
                <input type="hidden" name="id" value={{ track.id }}>
                <div id="like_count-{{ track.id }}">0</div>
                <input type="submit" value="добавить"/>
            </form>
            <button id="button_like-{{ track.id }}" onclick="like({{ track.id }});">Лайк</button>
        {% endfor %}
    </ul>
    <ul id="list2">
    </ul>
    <button id="show_more" onclick="show_more()">Показать еще</button>


    <div class="text-block">
        <div id="the-basics">
            <input class="typeahead" type="text" placeholder="States of USA">
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A sunt, labore, tempore corporis perspiciatis
            velit. At
            molestias aperiam ex culpa veniam, consectetur ratione, alias reiciendis, hic, ad voluptas facere
            quisquam!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos hic, vero voluptates facilis, veritatis neque
            nulla sint adipisci ut repellat, quo tenetur rem ab blanditiis? Fuga molestiae, cumque dignissimos
            voluptate.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero deserunt, voluptate aliquam eveniet quasi
            maiores recusandae nobis rerum placeat assumenda explicabo a in cum culpa possimus aspernatur autem,
            repellendus
            porro.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad nesciunt dolore modi veritatis architecto
            expedita,
            vitae perferendis impedit ipsum iste. Repellat mollitia expedita quisquam, neque illum laboriosam, voluptate
            eligendi soluta.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad nesciunt dolore modi veritatis architecto
            expedita,
            vitae perferendis impedit ipsum iste. Repellat mollitia expedita quisquam, neque illum laboriosam, voluptate
            eligendi soluta.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad nesciunt dolore modi veritatis architecto
            expedita,
            vitae perferendis impedit ipsum iste. Repellat mollitia expedita quisquam, neque illum laboriosam, voluptate
            eligendi soluta.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad nesciunt dolore modi veritatis architecto
            expedita,
            vitae perferendis impedit ipsum iste. Repellat mollitia expedita quisquam, neque illum laboriosam, voluptate
            eligendi soluta.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad nesciunt dolore modi veritatis architecto
            expedita,
            vitae perferendis impedit ipsum iste. Repellat mollitia expedita quisquam, neque illum laboriosam, voluptate
            eligendi soluta.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad nesciunt dolore modi veritatis architecto
            expedita,
            vitae perferendis impedit ipsum iste. Repellat mollitia expedita quisquam, neque illum laboriosam, voluptate
            eligendi soluta.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad nesciunt dolore modi veritatis architecto
            expedita,
            vitae perferendis impedit ipsum iste. Repellat mollitia expedita quisquam, neque illum laboriosam, voluptate
            eligendi soluta.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad nesciunt dolore modi veritatis architecto
            expedita,
            vitae perferendis impedit ipsum iste. Repellat mollitia expedita quisquam, neque illum laboriosam, voluptate
            eligendi soluta.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad nesciunt dolore modi veritatis architecto
            expedita,
            vitae perferendis impedit ipsum iste. Repellat mollitia expedita quisquam, neque illum laboriosam, voluptate
            eligendi soluta.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad nesciunt dolore modi veritatis architecto
            expedita,
            vitae perferendis impedit ipsum iste. Repellat mollitia expedita quisquam, neque illum laboriosam, voluptate
            eligendi soluta.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad nesciunt dolore modi veritatis architecto
            expedita,
            vitae perferendis impedit ipsum iste. Repellat mollitia expedita quisquam, neque illum laboriosam, voluptate
            eligendi soluta.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad nesciunt dolore modi veritatis architecto
            expedita,
            vitae perferendis impedit ipsum iste. Repellat mollitia expedita quisquam, neque illum laboriosam, voluptate
            eligendi soluta.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad nesciunt dolore modi veritatis architecto
            expedita,
            vitae perferendis impedit ipsum iste. Repellat mollitia expedita quisquam, neque illum laboriosam, voluptate
            eligendi soluta.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad nesciunt dolore modi veritatis architecto
            expedita,
            vitae perferendis impedit ipsum iste. Repellat mollitia expedita quisquam, neque illum laboriosam, voluptate
            eligendi soluta.</p>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<script type="application/javascript" src="/static/typeahead.js"></script>
<script>
    var substringMatcher = function (strs) {
        return function findMatches(q, cb) {
            var matches, substringRegex;

            // an array that will be populated with substring matches
            matches = [];

            // regex used to determine if a string contains the substring `q`
            substrRegex = new RegExp(q, 'i');

            // iterate through the pool of strings and for any string that
            // contains the substring `q`, add it to the `matches` array
            $.each(strs, function (i, str) {
                if (substrRegex.test(str)) {
                    matches.push(str);
                }
            });

            cb(matches);
        };
    };

    var states = ['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
        'Colorado', 'Connecticut', 'Delaware', 'Florida', 'Georgia', 'Hawaii',
        'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana',
        'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota',
        'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire',
        'New Jersey', 'New Mexico', 'New York', 'North Carolina', 'North Dakota',
        'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania', 'Rhode Island',
        'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont',
        'Virginia', 'Washington', 'West Virginia', 'Wisconsin', 'Wyoming'
    ];

    $('#the-basics .typeahead').typeahead({
            hint: true,
            highlight: true,
            minLength: 1
        },
        {
            name: 'states',
            source: substringMatcher(states)
        });
</script>
<script type="application/javascript">
    function like(id) {
        $.ajax({
            url: '/music/ajax/like/' + id,
            data: {},
            dataType: 'json',
            success: function (data) {
                alert("success");
                alert(data["counter"]);
                $("#like_count-" + id).html(data["counter"]);
            },
            error: function () {
                alert('error!');
            }
        });
    }
</script>

<script>
    function show_more() {
        $.ajax({
            url: '/music/ajax/',
            data: {},
            dataType: 'json',
            success: function (data) {
                alert("success");
                alert(data["track"]);
                $("#list2").html('<li><a href="#">' + data["track"] + '</a></li>');

            },
            error: function () {
                alert('error!');
            }
        });
    }
</script>
<script>
    $(document).ready(function () {
        $('body').append('<a href="#" id="go-top" title="Вверх">Вверх</a>');
    });

    $(function () {
        $.fn.scrollToTop = function () {
            $(this).hide().removeAttr("href");
            if ($(window).scrollTop() >= "250") $(this).fadeIn("slow");
            var scrollDiv = $(this);
            $(window).scroll(function () {
                if ($(window).scrollTop() <= "250") $(scrollDiv).fadeOut("slow");
                else $(scrollDiv).fadeIn("slow")
            });
            $(this).click(function () {
                $("html, body").animate({scrollTop: 0}, "slow")
            })
        }
    });

    $(function () {
        $("#go-top").scrollToTop();
    });
</script>
</body>
</html>
