{% extends "music/new_base.html" %}

{% include "music/something.html" %}

{% block body %}
    <body>
    {% for elem in tracks %}
        <span><p>{{ elem|lower }}</p>
        </span>
    {% endfor %}
    {#    {% my_tag 123 "abcd" book.title warning=message|lower profile=user.profile %}#}
    </body>
{% endblock %}